.enigma-dark-bg-1 { background-color: #2E3440 !important; }
.enigma-dark-bg-2 { background-color: #3B4252 !important; }
.enigma-dark-bg-3 { background-color: #434C5E !important; }
.enigma-dark-bg-4 { background-color: #4C566A !important; }

.enigma-dark-text-1 { color: #2E3440 !important; }
.enigma-dark-text-2 { color: #3B4252 !important; }
.enigma-dark-text-3 { color: #434C5E !important; }
.enigma-dark-text-4 { color: #4C566A !important; }

.enigma-orange-bg-1 { background-color: #fa946e !important; }
.enigma-orange-bg-2 { background-color: #faa687 !important; }

.enigma-orange-text-1 { color: #fa946e !important; }
.enigma-orange-text-2 { color: #faa687 !important; }
